
.slider .indicators .indicator-item.active {
    background-color: #2e3192;
} 
.marginBottom0{
    margin-bottom: 0;
}
.marginBottom20{
    margin-bottom: 20px;
}
.margintop300{
    margin-top: 100px;
    margin-bottom: 50px;
}
.paddingtop20{
    padding-top: 20px;
}
.azulEscuro{
    background-color: #2e3192;
}
.parallax-container {
    height: 300px;
}
.navbar-fixed {
    position: absolute;
    z-index:999999999;
}
#menu222 {
    position: fixed;
    right: 0;
    top: 8%;
    margin-top: -2.5em;
  }
.cor{
    background-color:  rgba(32, 76, 173, 0.3);
}
.Recyclebackground{
    background-image:url('../img/background.jpg');
}
